/* --- BODY ------------------------------------------------------------------------------------- */
body {
    background-image: url(../images/polonez_car.png);  // Add subtle pattern to page's background
}
/* Note that in lesson "Modifying the Color Scheme", he shows how to make the header and footer
   fill the entire width of the screen but keep left and right margins on the body content. */
div#wrapper {                        // I like how he does this!
    max-width: 80rem;                // Center the entire page horizontally
    margin: 0 auto;                  // "auto" means center the content
    background-color: #fff;        // Do this so body background image doesn't appear in page
    box-shadow: 0 0 10px #000000;  // Add a subtle shadow around the entire page wrapper
}

/* --- NAVIGATION ------------------------------------------------------------------------------- */
nav {
    ul {
        margin-left: $gutter;                         // Aligns "New" link with logo above it.
        border-left: 1px solid rgba(0,0,0,0.3);     // Adds border to left-most New link
    }
    ul li {
        width: auto;                                  // Move nav links to left on large screens.
    }
    ul li:last-child {
        border-right: 1px solid rgba(0,0,0,0.3);    // Adds border to right-most Location link
    }
    ul li a {
        padding: .5rem 1rem;
    }
}

/* --- MAIN ------------------------------------------------------------------------------------- */
main {
    figure.photo {                      // For tablets
        width: 25%-$gutterdbl;
        // margin: .5rem $gutter;       // This will cascade from _small-default.
        float: left;                    // This lines up two images side-by-side on tablets.
                                        // Warning: this causes main element to collapse!
                                        // Therefore, we add clearfix class to main tag in index.html.
    }
    div.blog article {
        float: left;
        width: 33.3%-$gutterdbl;
    }
    /* These next two rules work together. On large screens, we need to remove the rule for medium screens
        and then add the rules for large screens. */
    div.blog article:nth-child(2n+1) {     // Remove rule for medium screens
        clear: none;
    }
    div.blog article:nth-child(3n+1) {     // Change to 3n to arrange in three columns
        clear: left;
    }
}