/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* --- BODY ------------------------------------------------------------------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    // All rem values based on this.
    font-size: 16px;
}

/* --- HEADER ----------------------------------------------------------------------------------- */
header {
    background-color: $primaryColor;
    color: $secondaryColor;
    padding: 1rem $gutter;
    h1 {
        font-size: 2rem;            // Twice the default base size of 16px
        font-weight: $normalWeight;
    }
    h2 {
        font-size: 1.3rem;         // Twice the default base size of 16px
        font-weight: $normalWeight;
    }
}

/* --- NAVIGATION ------------------------------------------------------------------------------- */
nav {
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    /* When we float these li elements, it takes them out of the nav and they no longer have a
       background color. We say the nav has "collapsed". Giving it the clearfix class will cause it
       to stay open such that the floated li elements will have a background color even though
       they're floating. */
    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0,0,0,0.3);
    }
    ul li a {
            display: block;             // To make it easier for phone users to click the link, make the
            text-align: center;         // entire link block, not just the link itself, clickable.
            font-weight: $boldWeight;
            padding: 0.5rem 0;
            color: $primaryColor;
            text-decoration: none;
            // Create a smooth transition for the subsequent hover rule
            transition: background-color 0.3s ease, color 0.3s ease;
    }
    /* He put this before the following hover rule so that by default, the New link has a darker background
       but then if you hover over any link, the link's background will turn darker. */
    ul li.active a {
        background-color: darken($secondaryColor, 10%);         // Use preprocessor to darken background
    }                                                           // color by 10%.
    ul li a:hover {
        color: $secondaryColor;
        background-color: $primaryColor;
    }
    ul li:last-child {
        border-right: none;         // Remove right border from last element on the right
    }
}
/* --- MAIN ------------------------------------------------------------------------------------- */
main {
    figure.banner {
        width: 100%;                // Make banner fill 100% of page width
    }
    figure.banner img {             // Make image scalable (this is actually the default)
        width: 100%;                // Image will fill 100% of width of figure element
    }
    h1 {
        font-size: 2rem;
        margin: 1rem 0 0 $gutter;   // "New Cars should line up with "Robert's Autos"
        color: $primaryColor;
    }
    hr.fadeAway {
        // I didn't understand how he used https://www.colorzilla.com/gradient-editor/ to generate this
        background: linear-gradient(to right, rgba(66,78,100,1) 0%,rgba(66,78,100,0.01) 100%);
        height: 2px;
        border: none;
        margin: 0 $gutter;
    }
}

/* --- FOOTER ----------------------------------------------------------------------------------- */
footer {
    background-color: $primaryColor;
    width: 100%;
    p {
        text-align: center;
        color: $secondaryColor;
        padding: .75rem;
        font-size: .9rem;
    }
    p a {
        color: $secondaryColor;
    }
}

/*----- Clearfix: force an element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }