// Colors
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;

// Fonts
$defaultFont: 'Lato', sans-serif;
$fontColor: #35373a;
$normalWeight: 300;
$boldWeight: 700;

// Layout
$gutter: 2%;
$gutterdbl: (2 * $gutter);